In [3]:
import os
import pandas as pd

df = pd.read_csv('/data0/practical-wise2223/organ_mesh/basic_features.csv')

gender_map = {
    'male': 1,
    'female': 0
}

male_df = df[df['31-0.0'] == gender_map['male']]
female_df = df[df['31-0.0'] == gender_map['female']]

bridge_organ_df = pd.read_csv('/data0/practical-wise2223/organ_mesh/Bridge_eids_60520_87802.csv')

In [8]:
female_df['eid']

4         1000053
6         1000071
8         1000096
9         1000109
10        1000117
           ...
502405    6024074
502406    6024083
502407    6024099
502408    6024106
502409    6024112
Name: eid, Length: 273325, dtype: int64

In [4]:
bridge_organ_df
# Folder names are in the second column.
# ids of the basic features are in the column

        eid_60520  eid_87802
0         1000160    4160881
1         1000313    2111078
2         1000369    2967107
3         1000476    3272217
4         1000526    4189785
...           ...        ...
502406    6015720    3578675
502407    6017783    4177794
502408    6021070    1262361
502409    4240959    1002121
502410    4408246    4667021

[502411 rows x 2 columns]

In [6]:
bridge_organ_df[bridge_organ_df['eid_87802'] == 1000053]

        eid_60520  eid_87802
454928    2488597    1000053

In [29]:
bridge_organ_df[bridge_organ_df['eid_87802'] == 3398256]

        eid_60520  eid_87802
387903    3055584    3398256

In [32]:
df[df['eid'] == 3398256]

            eid  21003-2.0  31-0.0  21001-2.0  21002-2.0  50-2.0
239824  3398256       64.0       0     29.308       84.7   170.0

In [122]:
body_mesh_ids = os.listdir('/data0/practical-wise2223/organ_mesh/body_meshes')

In [123]:
organ_mesh_ids = os.listdir('/data0/practical-wise2223/organ_mesh/organ_meshes')

In [96]:
def bring_feats_organ(df_features, id):
    return df_features[df_features['eid'] == id]


def return_gender_meshes(organ_mesh_list, basic_features_df, gender='male'):
    assert gender in ['male', 'female']
    female_list = []
    for mesh_id in organ_mesh_list:
        female_mesh = basic_features_df[basic_features_df['eid'] == int(mesh_id)]
        if female_mesh['31-0.0'].values[0] == gender_map[gender]:
            female_list.append(female_mesh['eid'].values[0])
    return female_list

In [93]:
bring_feats_organ(df, 6024106)

            eid  21003-2.0  31-0.0  21001-2.0  21002-2.0  50-2.0
502408  6024106        NaN       0        NaN        NaN     NaN

In [116]:
df['31-0.0'].value_counts()

0    273325
1    229086
Name: 31-0.0, dtype: int64

In [120]:
len(organ_mesh_ids)

30382

In [121]:
len(organ_mesh_list)

1176

In [127]:
len(organ_mesh_ids)

30382

In [124]:
males = return_gender_meshes(organ_mesh_ids, df, 'male')
female = return_gender_meshes(organ_mesh_ids, df, 'female')

In [125]:
len(males)

14653

In [131]:
males

[4105794,
 2104830,
 5424701,
 1772288,
 4883604,
 6011195,
 3966308,
 4972169,
 2709511,
 2227163,
 1724029,
 3549791,
 2149769,
 3849529,
 3962550,
 4646523,
 1631878,
 2622050,
 4550951,
 4221270,
 5196972,
 2114180,
 3600345,
 1824386,
 4091157,
 4813046,
 3960126,
 5950752,
 4396703,
 3195819,
 4308491,
 2482843,
 1986671,
 5215188,
 5283486,
 3894404,
 1125674,
 2410338,
 4838081,
 2383976,
 3455832,
 4364510,
 3065672,
 3561625,
 2277070,
 1527444,
 3071609,
 1593871,
 2534188,
 4412822,
 3101908,
 4755570,
 3674208,
 1724313,
 1357318,
 2434393,
 5489688,
 4183265,
 1838112,
 1637377,
 4307074,
 1345230,
 5569101,
 5301552,
 2410389,
 3118085,
 1515098,
 2845469,
 5553993,
 4332906,
 1523501,
 2376867,
 2299309,
 2921966,
 1360440,
 1639471,
 1753027,
 1117512,
 1200791,
 3556668,
 5151796,
 2211905,
 3601882,
 3909895,
 4489304,
 3089515,
 1933297,
 2810906,
 1696926,
 3870587,
 4315670,
 1316578,
 3466927,
 2895120,
 3423881,
 1675259,
 5930247,
 2885807,
 5508498,
 4467989,
 1706667,
 5231185,
 5636906,
 3596693,
 3417322,
 2611338,
 3590144,
 2065219,
 1914940,
 1030350,
 5159555,
 5959867,
 5559180,
 5585134,
 3213807,
 3633588,
 2839888,
 4526904,
 3262266,
 2868729,
 3195778,
 2142974,
 2956986,
 1588034,
 2583637,
 5961028,
 3758931,
 2173727,
 4550920,
 1622250,
 5009315,
 2407879,
 1129311,
 3220975,
 4951560,
 4326203,
 5779199,
 3670194,
 1717851,
 5980692,
 5401726,
 1512924,
 5122066,
 1403718,
 4769426,
 1317147,
 4887868,
 5343788,
 3160099,
 3822937,
 3757079,
 3595459,
 3443765,
 2537975,
 3007375,
 1921722,
 5449457,
 1070504,
 5655233,
 5961930,
 1012707,
 1615462,
 4538801,
 5877658,
 4158360,
 3445165,
 3555576,
 4585028,
 1909785,
 4489860,
 2022708,
 2711285,
 3771874,
 2334194,
 2983855,
 5060339,
 5096774,
 1828280,
 5231151,
 2790518,
 2835625,
 4964774,
 4174209,
 3866981,
 3196874,
 4538726,
 1293956,
 4428712,
 4581346,
 5483383,
 1653534,
 4762680,
 2959152,
 4190545,
 1862197,
 2403288,
 4418365,
 4098259,
 5925359,
 2637988,
 5896945,
 1044147,
 2569108,
 5200142,
 2959751,
 2422987,
 4654709,
 3260479,
 1932154,
 3567863,
 3055904,
 1254456,
 3618196,
 2250624,
 2855206,
 2009066,
 5832483,
 1822226,
 4049643,
 5070849,
 4984319,
 3241726,
 2517224,
 5774710,
 4638705,
 1915150,
 1361112,
 2652254,
 3663649,
 2227733,
 4257856,
 3737800,
 3225261,
 5900745,
 1328973,
 1624926,
 1846983,
 2318448,
 4606173,
 5083487,
 5592247,
 5090934,
 1920756,
 2795374,
 1807634,
 4958711,
 5457533,
 3116399,
 1401510,
 5858744,
 3650480,
 1229633,
 3240541,
 3641298,
 4244027,
 1069922,
 2847496,
 2112546,
 1966116,
 2111772,
 3348401,
 5757504,
 3413344,
 1456707,
 5613423,
 3223191,
 4288260,
 2914496,
 3147660,
 4551742,
 1646000,
 1946570,
 3278921,
 4431772,
 4300988,
 4976989,
 5146930,
 1175170,
 1506249,
 3860192,
 4624328,
 5724308,
 2994535,
 1354794,
 5239000,
 2267624,
 2722917,
 1090957,
 4682731,
 2384255,
 2123313,
 1344679,
 6010613,
 1116467,
 3350902,
 1694355,
 3325905,
 1146830,
 3392133,
 1551783,
 3305682,
 4451193,
 1887853,
 1092715,
 3550596,
 3002069,
 3877119,
 1577963,
 1508066,
 2728650,
 5285649,
 5436661,
 2812125,
 5169599,
 2438631,
 4035233,
 3064966,
 5088069,
 3608129,
 3413882,
 5694416,
 4832281,
 1983194,
 2087153,
 1374565,
 5243942,
 4604323,
 1481236,
 2448916,
 2836929,
 5694058,
 4184634,
 5160892,
 1249988,
 4618760,
 5509727,
 3081797,
 1142250,
 2579542,
 4054087,
 3263106,
 1100890,
 3516378,
 1347386,
 5253397,
 2697252,
 2087781,
 3308999,
 4347104,
 4809613,
 3500173,
 2139773,
 3487060,
 1931734,
 2292725,
 4226130,
 3209494,
 3481899,
 4706431,
 4717975,
 2174504,
 3831266,
 3428448,
 3412275,
 2559000,
 3273057,
 5636162,
 5295885,
 1551200,
 2621343,
 3927505,
 2104183,
 6021839,
 4431366,
 5039064,
 1365538,
 1129820,
 3433799,
 4906634,
 2433097,
 4332635,
 4163982,
 4704343,
 1276105,
 3765681,
 1930897,
 5250631,
 5827968,
 4345006,
 5515601,
 3817923,
 3584622,
 3437000,
 3109194,
 1395108,
 3745732,
 2210278,
 5899746,
 1880070,
 3657833,
 5746119,
 2612304,
 4393356,
 5556097,
 2608495,
 4518467,
 2109351,
 1179336,
 4290029,
 4391071,
 1943662,
 2561329,
 3880814,
 3811689,
 3509787,
 1870411,
 2913478,
 4679854,
 1394809,
 5641680,
 3994812,
 3252804,
 2689826,
 2906953,
 3474050,
 2775356,
 4688345,
 1366942,
 3466254,
 1578912,
 1296209,
 5089062,
 2140350,
 3969974,
 5591042,
 1028125,
 4095031,
 5351487,
 3780775,
 5864289,
 1188678,
 4648153,
 1210690,
 3280413,
 1549200,
 4870605,
 1089537,
 5760224,
 5245484,
 2100058,
 3678015,
 2490427,
 4933420,
 1580581,
 2136388,
 4159592,
 3249832,
 3068735,
 4262871,
 2937609,
 3519430,
 3019886,
 5108939,
 2641659,
 3046000,
 5780991,
 4280435,
 4986317,
 3246369,
 4570519,
 4716439,
 1055531,
 2791433,
 2689492,
 5998742,
 2391841,
 5206634,
 2055810,
 5644928,
 3937681,
 2557371,
 2629406,
 1010335,
 1974695,
 4781835,
 1409777,
 1095630,
 3934113,
 5227123,
 3946339,
 4638454,
 4489080,
 4923234,
 2343778,
 4959065,
 4658200,
 4455195,
 4692231,
 3785135,
 1619935,
 5183553,
 4102753,
 3969326,
 2344160,
 4174996,
 1800624,
 3426374,
 5830323,
 4050135,
 5901201,
 5914008,
 1597432,
 5954425,
 2651474,
 5996725,
 4786073,
 3324676,
 4577840,
 5505652,
 3599448,
 2251184,
 1918834,
 4430290,
 4643659,
 4384157,
 5033292,
 2910936,
 4420916,
 2834081,
 3310385,
 4217350,
 5966227,
 3943954,
 3512942,
 4613647,
 4347537,
 4299208,
 5207884,
 5056604,
 2841069,
 2135809,
 3194353,
 1196133,
 2054290,
 1311760,
 4386756,
 4292449,
 2138957,
 3973824,
 2252355,
 5287025,
 4959987,
 5225664,
 3946813,
 3228858,
 5384519,
 1285918,
 2856694,
 4903417,
 4509234,
 5959930,
 2182713,
 1465395,
 2829900,
 2064056,
 5027510,
 2622355,
 5159639,
 4160878,
 4771811,
 4049808,
 2082383,
 2707898,
 4739890,
 1112942,
 1093752,
 1570077,
 4886299,
 2844230,
 5648409,
 2822058,
 4498567,
 2534713,
 1549557,
 4022005,
 3061798,
 3820605,
 5712572,
 5077706,
 5528435,
 1205627,
 4719753,
 2818317,
 5424421,
 1297621,
 5057724,
 1392402,
 4455780,
 1877913,
 2330705,
 1256773,
 3322927,
 1077689,
 4904638,
 3438376,
 4230886,
 4281909,
 3113133,
 3485253,
 2834486,
 5341476,
 1228075,
 2586603,
 5155848,
 2810834,
 1578327,
 5325866,
 4214271,
 2802286,
 4627398,
 5517077,
 5269653,
 4599954,
 2236810,
 1342285,
 1424623,
 3314381,
 2221041,
 2232260,
 2485122,
 3499514,
 4617113,
 5398932,
 5076256,
 1882973,
 5861873,
 1139621,
 3807995,
 5982388,
 4848095,
 4771351,
 4888127,
 3323677,
 3867906,
 3767837,
 1246558,
 5355173,
 2582767,
 1110709,
 4305631,
 4717911,
 3805403,
 1164458,
 3076175,
 1078575,
 4867359,
 1129487,
 1560364,
 1662105,
 4273064,
 3403088,
 3928053,
 2793918,
 4103321,
 1320942,
 5226704,
 2465897,
 1290239,
 2561675,
 3619766,
 3345279,
 3565561,
 4952565,
 2032221,
 5956694,
 1368991,
 1403924,
 5507865,
 3580419,
 2369150,
 4189604,
 3205629,
 2333536,
 4838470,
 4821926,
 5310650,
 1072631,
 2201254,
 4061012,
 5704944,
 4515630,
 5167381,
 6006501,
 1688077,
 4574559,
 5804450,
 5429686,
 2898171,
 4042396,
 5554912,
 5909902,
 3386995,
 2576162,
 5822816,
 5191170,
 4616140,
 2191475,
 3068902,
 2515614,
 4186645,
 1844399,
 4746366,
 2406207,
 3353732,
 2089514,
 1148840,
 3306262,
 5295599,
 5484044,
 5485891,
 1337096,
 4962690,
 1308510,
 3511566,
 2171597,
 1471927,
 2874626,
 1243025,
 4652386,
 5773167,
 3915075,
 4011522,
 1029514,
 5807798,
 1198451,
 4498679,
 4550523,
 4874468,
 2527620,
 1857473,
 1770973,
 2004373,
 2222689,
 1664984,
 3218545,
 5180778,
 5847124,
 2878329,
 3799957,
 4848528,
 3752559,
 4513423,
 1534170,
 4099297,
 1618984,
 2184373,
 4138056,
 4165653,
 2778956,
 3098535,
 1890796,
 2190393,
 5007562,
 3585305,
 5499428,
 2203010,
 4122034,
 2546621,
 4389352,
 4900567,
 4677756,
 4486909,
 1198275,
 5172085,
 2787024,
 4443286,
 1815279,
 4696085,
 3863860,
 2178998,
 2578573,
 4712601,
 1478243,
 2297882,
 3892150,
 4947410,
 4370452,
 5131531,
 4280926,
 2998857,
 5529736,
 3734741,
 4837739,
 3034823,
 3884000,
 3870057,
 1407014,
 5546038,
 5801640,
 5656206,
 1070994,
 5788722,
 4788023,
 5525910,
 2014258,
 5432440,
 2555771,
 1418904,
 3829065,
 5684069,
 5670768,
 2857377,
 4937504,
 5178665,
 3009221,
 1173806,
 2516142,
 1023915,
 2279704,
 1571460,
 1509732,
 2822848,
 3575371,
 1481813,
 1416034,
 4541056,
 2115361,
 3530808,
 5962066,
 5340103,
 4699405,
 4230458,
 3725043,
 4724806,
 1121766,
 5923895,
 1025532,
 4837155,
 3621219,
 5364308,
 4427619,
 5365800,
 4270356,
 5888020,
 1783516,
 1102425,
 4633813,
 3858410,
 4860482,
 4608626,
 3733547,
 2725144,
 3886863,
 2556618,
 1826359,
 2369440,
 4828943,
 6014158,
 1868438,
 2922335,
 1747253,
 5405301,
 4120424,
 3335887,
 3818548,
 2171319,
 5787084,
 1695474,
 3835333,
 1850761,
 2576672,
 4299581,
 4381542,
 4846265,
 3131853,
 1590191,
 4158555,
 1288778,
 5074165,
 2693097,
 4223229,
 2544413,
 5865217,
 2979131,
 3237882,
 5299494,
 4352043,
 4321438,
 2032784,
 1302706,
 3455477,
 1974704,
 1450795,
 2902151,
 5215658,
 1741795,
 1140365,
 1091165,
 5339269,
 3560384,
 1057704,
 5325572,
 1581633,
 4897723,
 5719297,
 3149081,
 5733355,
 2653033,
 2578835,
 3775847,
 5184311,
 3516759,
 2939834,
 4808612,
 3057426,
 1289463,
 5961368,
 3509667,
 2566393,
 3298067,
 4293322,
 4909802,
 3661146,
 4903454,
 4360828,
 1499076,
 5436115,
 2454462,
 2279517,
 4095548,
 3664211,
 2466316,
 4505548,
 4448725,
 4423267,
 3428696,
 5452606,
 2296166,
 5657807,
 3579111,
 3469460,
 4298584,
 1874625,
 4915275,
 2372108,
 2300660,
 1274742,
 5492272,
 5530013,
 1293814,
 2108934,
 5475384,
 2401391,
 2832957,
 3074169,
 4519748,
 5198216,
 3595058,
 1120138,
 5082803,
 2603955,
 3037365,
 2058539,
 3852812,
 3349281,
 3944184,
 4859089,
 3414209,
 4617796,
 4064601,
 4818841,
 2226834,
 5774570,
 3704719,
 2006477,
 1620636,
 5058448,
 2314685,
 1914603,
 1506830,
 3501036,
 5894976,
 4755060,
 1055610,
 5225249,
 2367290,
 2635387,
 1898447,
 1178347,
 1187122,
 4126108,
 5293813,
 3217054,
 2140624,
 1538281,
 3166098,
 4686981,
 4502948,
 3850693,
 1449528,
 ...]

In [126]:
len(female)

15729

In [129]:
with open('male_ids.txt','w') as f:
    f.writelines(males)

TypeError: write() argument must be str, not numpy.int64

In [137]:
# list 

# open file in write mode
with open('male_mesh_ids.csv', 'w') as fp:
    for male_id in males:
        # write each item on a new line
        fp.write("%s\n" % str(male_id))
    print('Done')

Done

In [136]:
# list 

# open file in write mode
with open('female_mesh_ids.csv', 'w') as fp:
    for male_id in female:
        # write each item on a new line
        fp.write("%s\n" % str(male_id))
    print('Done')

Done